
@font-face {
  font-family:"Poppins";
<<<<<<< HEAD
  src: url('/normalCode/assets/fonts/Poppins/Poppins-Regular.ttf');
=======
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
>>>>>>> cabdb797ea931109c6c522b98fe1e62217842b64
}

@font-face {
  font-family:"Ropa Sans";
<<<<<<< HEAD
  src: url('/normalCode/assets/fonts/Ropa_Sans/RopaSans-Regular.ttf');
=======
  src: url('../assets/fonts/Ropa_Sans/RopaSans-Regular.ttf');
>>>>>>> cabdb797ea931109c6c522b98fe1e62217842b64
}

@font-face {
  font-family: "Poppins Semi-Bold";
<<<<<<< HEAD
  src: url('/normalCode/assets/fonts/Poppins/Poppins-SemiBold.ttf');
=======
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
>>>>>>> cabdb797ea931109c6c522b98fe1e62217842b64
}

@font-face{
  font-family:"Poppins Light";
<<<<<<< HEAD
  src: url('/normalCode/assets/fonts/Poppins/Poppins-Light.ttf');
=======
  src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
>>>>>>> cabdb797ea931109c6c522b98fe1e62217842b64
}

@font-face {
  font-family: "Poppins Bold";
<<<<<<< HEAD
  src: url('/normalCode/assets/fonts/Poppins/Poppins-Bold.ttf');
}
=======
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
}

>>>>>>> cabdb797ea931109c6c522b98fe1e62217842b64
body{
  font-family: "Poppins";
  overflow-x: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 10rem auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  border-left: 0.5rem solid linear-gradient(180deg, #00A8E8 0%, #00FFA3 100%);
  position: relative;
  padding-left: 2rem;
  margin-bottom: 10rem;
}

.title-container::after {
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 0.5rem;
  background: linear-gradient(180deg, #00A8E8 0%, #00FFA3 100%);
  position: absolute;
  border-radius: 1rem;
}

.title-container--desc {
  font-size: 1.6rem;
  font-family:"Poppins Light";
}

.title-container--title {
  font-size: 3.2rem;
  color:#2C2C2C;
  font-family: "Poppins Semi-Bold";
}

.type-of-license-container{
  display: flex;
  width: 70%;
  border-radius: 1rem;
  overflow: hidden;
  align-self: center;
  margin: 5rem 0;
  position: relative;
}

.type-of-license-container--desc-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  width: 60%;
  justify-content: center;
  border: 0.1rem solid #c4c4c4;
  position: relative;
}
.container-motos::after,.container-ligeiros::after, .container-pesados::after{
  content: '';
  height: 100%;
  width: 1rem;
  left: 0;
  top: 0;
  position: absolute;

}

.container-motos::after{

  background-color: #00FFA3;
}

.container-ligeiros::after{
  background-color: #00A8E8;
}

.container-pesados::after{

  background-color: #000;

}

.type-of-license-container--desc-container--title {
  font-size: 2.7rem;
  text-align: center;
  display: inline-block;
  align-self: flex-start;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 1rem 0;
  width: 90%;
  color: #fff;
  font-family: "Poppins Semi-Bold";
}

.desc-motos{
  background-color: #00FFA3;
}

.desc-ligeiros{
  background-color:#00A8E8;
}

.desc-pesados{
  background-color: #000;
}

.type-of-license-container--desc-container--desc {
  font-size: 1.7rem;
  margin-top: 2rem;
  position: relative;
  display: inline-block;
  width: 90%;
  align-self: center;
  font-family: "Poppins Light";
  text-align: justify;
}

.type-of-license-container--image-container {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction:column;
}

.type-of-license-container--image-container--image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-schedule{

  margin-top: 15vh;
}

.schedule-container {
  margin: 5rem 0;
  align-self: center;
  width: 70%;
  display: flex;
  align-items: center;
}
.schedule-container--symbol-container {
  width: 25vh;
  height: 25vh;
  position: relative;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}
.symbol-container--symbol {
  width: 8.5vw;
  object-fit: cover;
}

.schedule-container--title-container{

  font-size: 1.7rem;
  text-align: center;
  margin-top: 3vh;
  font-family: "Poppins Semi-Bold";
}

.schedule-container--schedule-list {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  min-width: 60%;
  max-width: 70%;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10rem;
}
.schedule-list-item {
  font-size: 3rem;
  border-right: 0.5rem solid #fff;
  padding: 0 2rem;
  position: relative;
}
.schedule-list-item:last-child {
  border-right: none;
}
.schedule-container--schedule-list:nth-child(1) {
  background-color: #F4B546;
}
.morning {
  background-color: #F4B546;
}
.afternoon {
  background-color: #DA9826;
}
.night {
  background-color: #8C5D0A;
}


.footer{

  background-color:#025998;
  width: 100vw;
  height: 25vh;
  display: grid;
  grid-template-columns: 2;
  grid-auto-flow: column;
  justify-content:start;
  margin-top: 5vh;
  
  }
  
  .footer-left-section{
  
      padding-top: 3vh;
      width: 50vw;
  }
  
  .div-p-footer{
      width: 9vw;
      display: grid;
      grid-template-columns: 2;
      grid-auto-flow: column;
      justify-items:start;
      margin-left: 3vw;
      font-family: "Ropa Sans";
  }
  
  .div-p-img-footer{
      width: 2vw;
      margin-top:1.5vh;
      object-fit: cover;
  }
  
  .div-p-konduza-footer{
      color: #fff;
      font-size: 2.4rem;
      margin-top: 1.6vh;
      margin-left: 0.5vw;
  }
  
  .footer-top{
  
      width: 50vw;
      display: grid;
      grid-template-rows: 2;
      justify-content: right;
  
  }
  
  .footer-top-right-section{
      display: grid;
      grid-template-columns: 4;
      grid-auto-flow: column;
      justify-content:start;
      gap: 0 4vh;
      padding-top: 7vh;
  }
  
  .footer-top-right-section-img{
      object-fit: cover;
      width: 2vw;
  }
  
  .ul-menu-footer{
      position: relative;
      top: -1vh;
      margin-right: 3.5vw;
    
  }
      
  .ul-menu-a-footer{
      text-decoration: none;
      font-size: 1.6rem;
      color:#00A8E8;
      position: relative;
      text-align: center;
      margin-left: 3vh;
          
   }
  
  .ul-menu-a-footer:hover{
      font-weight: bold;
      color: #4FCBFB;
  }
      
  .a-special-footer{
      color:#fff;
      font-weight: bold;
  }
      
   .a-special-footer:hover{
      font-weight: bolder;
      color: #fff;
  }
      
  .a-special-footer::after{
          content: ' ';
          width: 120%;
          height: 0.7vh;
          background-color: #fff;
          position: absolute;
          border-radius: 1.5vh;
          bottom: -0.6vh;
          left: 50%;
          transform: translateX(-50%);
      }
      
  .btn-login-footer .ul-menu-a-footer{
      
          margin-left: 0vw;
   }
      
  .btn-login-footer{
          border: none;
          color:#fff;
          width: 6.5vw;
          height: 5vh;
          margin-left: 2.5vw;
          border-radius: 0.5vh;
          padding-right: 0vw;
          background-color:#00A8E8;
  }
      
      
  .btn-login-footer:hover{
          background-color: #4FCBFB;
          font-weight: bold;
  }
      
  .ul-menu-a-footer:last-child{
          color: #fff;
          padding-left: 0;
          font-weight: bold;
  }
      
  .ul-menu-a-footer:first-child{
         margin-left: 0;
      }