* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@font-face {
  font-family:"Poppins";
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family:"Ropa Sans";
  src: url('../assets/fonts/Ropa_Sans/RopaSans-Regular.ttf');
}

@font-face {
  font-family: "Poppins Semi-Bold";
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face{
  font-family:"Poppins Light";
  src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: "Poppins Bold";
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
}
body{
  font-family: Poppins, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}